* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

.name h1 {

    font-size: 40px;
    font-weight: bolder;
    color: #131313;
}

.link a {
    text-decoration: none;
    padding-right: 30px;
    font-weight: bolder;

    color: #424242;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promo {
    text-align: center;
}

.promo h1 {
    font-size: 35px;
    font-weight: bolder;
}

.promo p {
    font-weight: bolder;
}



.btn {
    border: 2px solid orange;
    font-weight: bolder;
    border-radius: 5px;
    color: white;
    background-color: orange;
    padding: 10px 15px;

}

.cover img {
    padding-top: 50px;
    height: 500px;
    width: 1000px;
    padding-left: 160px;
    padding-bottom: 50px;
}

.team {

    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 500px;
    padding-top: 50px;
    padding-left: 100px;
}

.team img {
    height: 200px;
    width: 200px;

}

.quick-list {
    padding-left: 80px;
    align-items: center;
    text-align: center;
}

.quick-list h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;

}

.quick-list p {
    text-align: center;
}

.work {
    width: 1000px;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 50px;
}

.sponsors-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.some-facts-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.some-facts-container h1 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 1;
}

.some-facts-container p {
    font-weight: bolder;
}

.some-fact {
    box-sizing: border-box;


    width: 160px;
    height: 170px;


    border: 1px solid #FF900E;
    border-radius: 8px;
}

.some-facts {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    padding-left: 150px;
}

.number {

    text-align: center;
    padding-top: 0;
}


.some-fact img {
    padding-top: 20px;
    padding-left: 57px;
    padding-right: 50px;




}



.sponsors-container p {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 1;
    font-weight: bolder;

    padding-bottom: 15px;
}

.sponsors-container h1 {
    text-align: center;
    font-size: 40px;
}

.sponsors img {

    padding-left: 120px;
    width: 100px;
}

.features-container {
    width: 1200px;
    height: 1000px;
    margin-left: 60px;
    margin-right: 20px;

    border-radius: 10px;






}

.pro img {


    height: 800px;
    padding-left: 200px;
}

.pro button {
    position: relative;
    bottom: 70px;
    left: 70px;
    padding: 20px 60px;
    border-radius: 10px;
    border: 2px solid orange;

    margin-left: 100px;
    margin-bottom: 800px;
    background-color: orange;
    color: white;
}

.professional {
    display: flex;
}




.features {

    padding-left: 10px;


}





.feature {


    margin: 10px;
    padding-left: 10px;
    height: 180px;
    width: 100%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
}

footer {
    height: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: rgba(255, 144, 14, 0.1);

}

footer h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;

}